html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 80vh;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app_videos::-webkit-scrollbar {
    display: none;
}
